.pmodal {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%);
	background: white;
	z-index: 1;
}

.pmodal-close {
	opacity: 0;
}

.pmodal-open {
	opacity: 1;
}

.poverlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background: rgba(0,0,0, .5);
}

.poverlay-open {
	opacity: 1;
}

.poverlay-close {
	opacity: 0;
}
